.CreateCard{
  display: flex;
}
.form-group{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  border: 2px solid white;
  padding: 30px;
  border-radius: 10px;
}

.form-group:first-child{
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
