#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
li{
  display: inline;
  list-style-type:none;
  
}

li:hover{
  background-color: aqua;
}

.home-link, .gallery-link, .create-link{
  margin-right:40px;
}

.gallery-link, .create-link{
  margin-left: 20px;
}

.simple-cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-text{
  display: flex;
}

label{
  color: white;
}

.SimpleView{
  position: relative;
  top: 50px;
}

.view-options-container{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.sort-container{
  display: flex;
  align-items: center;
}

#dropdown-basic-button{
  margin-left: 10px;
}

.credit{
  color: rgba(255, 255, 255, 0.282);
  position: absolute;
  bottom: 0;
  right: 0;
}

.Image{
  max-width: 560px;
  max-height: 315px;
}