#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-bar{
  position: absolute;
  background-color: antiquewhite;
  border-radius: 20px;
  left: 10px;
  top: 10px;
}

li{
  display: inline;
  list-style-type:none;
  
}

li:hover{
  background-color: aqua;
}

.home-link, .gallery-link, .create-link{
  margin-right:40px;
}

.gallery-link, .create-link{
  margin-left: 20px;
}

.SimpleView{
  display: flex;
}